input[type=range] {
  -webkit-appearance: none;
  border: none;
  width: 100px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
  margin-bottom:10px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 40%;
  background: #1698dd;
  margin-top: -5px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
  margin-bottom:8px;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #1698dd;
}
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}
input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
  margin-bottom:4px;
}
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #1698dd;
}
input[type=range]:focus::-ms-fill-lower {
  background: #626262;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
#play-pause{
    border:none;
    background-color:rgba(0,0,0,0);
    font-size:1.5rem;
    color:#484848;
}
#mute{
    border:none;
    background-color:rgba(0,0,0,0);
    font-size:1.5rem;
    color:#484848;
}
#full-screen{
    margin-left:5px;
    border:none;
    background-color:rgba(0,0,0,0);
    font-size:1.5rem;
    color:#484848;
}
#video-controls {
    margin-top:5px;
    padding:10px;
    width:650px;
    box-shadow:0 1px 4px rgba(0,0,0,0.2), 0 1px 4px rgba(0,0,0,0.3);
    border-radius: 5px;
}
#seek-bar {
    margin-top:7px;
    width:600px;
}
