@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
.hn {font-family: 'Hanna';}
.nbs {font-family: 'Nanum Brush Script';}
.ng {font-family: 'Nanum Gothic';}
.ngc {font-family: 'Nanum Gothic Coding';}
.nm {font-family: 'Nanum Myeongjo';}
.nps {font-family: 'Nanum Pen Script';}
.bb {font-family: 'Baloo Bhaina', cursive;}
body{
    font-family:'Nanum Gothic','Arial',cursive;
}
#text {
 width:60vw;
 height:2rem;
 text-align:center;
 font-size:1rem;
 border:none;
 box-shadow:0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3);
 transition:all 0.3s;
 font-family: 'Nanum Gothic';
}
#submit {
 width:52pt;
 height:24pt;
 font-size:14pt;
 border:none;
 color:black;
 text-shadow:0 1px 3px rgba(0, 0, 0, 0.4), 0 1px 3px rgba(0, 0, 0, 0.4);
 transition:all 0.3s;
 background-color:white;
}
#submit:hover { text-shadow:0 2px 5px rgba(0, 0, 0, 0.49), 0 3px 6px rgba(0, 0, 0, 0.4); }
#text:hover { box-shadow:0 2px 5px rgba(0, 0, 0, 0.4), 0 2px 5px rgba(0, 0, 0, 0.4); }
#title {
    text-shadow:0 1px 7px rgba(0,0,0,0.3), 0 1px 8px rgba(0,0,0,0.3);
    font-size:1.5rem;
}

#error {
    background-color:orangered;
    border-radius: 7px;
    color:white;
    font-size:18px;
}

#info {
    margin-top:1vh;
    padding:10px;
    width:650px;
    box-shadow:0 1px 4px rgba(0,0,0,0.2), 0 1px 4px rgba(0,0,0,0.3);
    border-radius: 5px;
    text-align: left;
}

#infotext {
    margin:2px;
}

#info, #infoimg, #infotext, #liker{
    vertical-align: top;
}
#bell {
    color:rgb(0, 91, 113);
}

#user {
    font-size:1.7rem;
    color:#004862;
}

#user:hover{
    cursor:pointer;
}